apex==0.9.10dev
AppKit==0.2.8
argparse
asyncio
beautifulsoup4>=4.10.0
better_profanity>=0.7.0
cefpython3==66.0
cleverbot>=2.0.0
cleverbot_scraper>=0.1
datetime
discord>=1.7.3
distro==1.6.0
fake_headers>=1.0.2
google_api_python_client==2.33.0
google_search>=1.1.1
ignite==1.1.0
interact==0.2
itertools
json
monotonic==1.6
multiprocessing
nltk>=3.5
numpy>=1.21.5
oauth2client==4.1.3
parlai==1.5.1
Pillow>=8.4.0
pocketsphinx==0.1.15
profanity>=1.1
projects==1.0.9
psutil==5.8.0
pyaudio>=0.2.11
pyjokes>=0.6.0
PyQt5==5.15.6
PySimpleGUI>=4.55.1
pytorch_ignite==0.4.6
readline
regex
requests>=2.22.0
scikit_learn==1.0.2
scipy>=1.7.1
signal
six==1.16.0
sympy>=1.8
tensorflow==2.7.0
threading
torch==1.8.1
tqdm==4.57.0
transformers>=4.9.2
urllib3>=1.25.3
vlc
word2number>=1.1
wikipedia